:root {
    background: #ff0000 !important;
    font-size: 14px !important;
  }

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px !important;
}

/* navbar unvisited link */
a.topmenu:link {
    color: #fcfcfc !important;
}

/* navbar visited link */
a.topmenu:visited {
    color: #fcfcfc !important;
}

/* navbar mouse over link */
a.topmenu:hover {
    color: #f4c318 !important;
}

/* navbar selected link */
a.topmenu:active {
    color: #daaa00 !important;
}


/* bac to game link in the page how to play */
a.backtogame:link {
    color: #daaa00 !important;
}

/* back to game link in the page how to play - visited link */
a.backtogame:visited {
    color: #daaa00 !important;
}

/* back to game link in the page how to play - mouse over link */
a.backtogame:hover {
    color: #f4c318 !important;
}

/* back to game link in the page how to play - selected link */
a.backtogame:active {
    color: rgb(218, 182, 51) !important;
}

/* Background header and footer */
.bg-myblue {
    background-color: #2e3e50;
}

/* logo color and size */
p.logo {
    font-size: 2.4rem;
    color: #f4c318 !important;
}

.gold {
    color: #daaa00;
}

/* picture margins */
.ctable {
    padding: 0.15rem;
}

/* card style */
img {
    object-fit: cover;
    object-position: 50% 0;
    width: 5rem;
    height: 5rem;
    border: solid 1px #f4c318;
}

.pic {
    opacity: 0.7;
}

.pic:hover {
    opacity: 1.0;
    cursor: pointer;
}

.pics {
    opacity: 1;
}

/* margin top card table */
.mt-cards {
    margin-top: 1rem;
}

#instructions {
    display: none;
    width: 50%;
    margin: 1.8rem auto 0;
}

/* The table with the cards */
#game-center {
    display: block;
}

/* Game completed div style */
#welldone {
    margin: auto;
    text-align: center;
    display: none;
}

#wellfont {
    font-size: 3rem;
    font-weight: bold;
    color: #f4c318;
}

#finalScore {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ea9107;
}

.welldone-img {
    width: 19rem !important;
    height: auto !important;
    border: none;
}

footer {
    margin-top: auto;
    font-size: 1rem;
    color: #f4c318;
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (min-width: 576px) {

    /* card style */
    img {
        width: 9rem;
        height: 9rem;
    }

    .pic {
        opacity: 0.7;
    }
}


@media only screen and (min-width: 769px) {

    /* card style */
    img {
        width: 10rem;
        height: 10rem;
    }

    .mt-cards {
        margin-top: 3rem;
    }
}